p {
    margin-bottom: 0;
    font-size: 0.8rem;
}

h1 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

.emphasise {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 10px 0px 10px 0px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.makeStyles-root-64.MuiButton-textSizeSmall.MuiButton-sizeSmall {
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
}

hr {
    margin-top: 0.8rem;
    margin-bottom: 0.7rem;
}

.col {
    position: relative;
}

i {
    cursor: pointer;
    color: darkgray;
    transition: color 0.5s ease-in-out;
}

i:hover {
    color: darkslategrey;
}

.divider-right {
    border-right: 1px solid slategrey;
}

.last-row {
    padding-bottom: 5px;
}

.crimson {
    color: crimson;
}

.subtitle {
    font-style: italic;
    color: darkgray;
    margin-bottom: 5px;
}

article.vocabify-item {
    padding: 20px;
    border-top: 1px solid lightgray;
    position: relative;
    width: 400px;
    margin: auto;
}

.MuiFormLabel-root.Mui-focused {
    color: darkgrey !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: darkgray !important;
}

.delete-item-holder {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.MuiTypography-h6 {
    font-size: inherit !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: bold !important;
    line-height: inherit !important;
    letter-spacing: inherit !important;
}

.MuiDialogTitle-root h2 {
    font-size: 20px !important;
}

small {
    display: block;
    margin-bottom: 20px;
}